<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <script th:src="@{/scripts/sockjs-0.3.4.js}" src="../static/scripts/sockjs-0.3.4.js"></script>
    <script th:src="@{/scripts/stomp.js}" src="../static/scripts/stomp.js"></script>

    <title>Readings</title>
    <script th:inline="javascript">
        jQuery(document).ready(function ($) {
            $("#boxes").bootgrid({
                navigation: 3,
                formatters: {
                        "dateTime": function(column, row) {
                            return row.dateTime;
                        }
                    }
            });

            $.get("/rest/api/readings?dateTime=2016-11-01 00:00:00", function(data) {
                $("#boxes").bootgrid("append", data);
            });

            connect();
        });

        var stompClient = null;

        function connect() {
            /*<![CDATA[*/
            var socket = new SockJS([[@{/stomp}]]);
            /*]]>*/
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/readingsUpdate', function(readings) {
                    $.get("/rest/api/readings?dateTime=2016-11-01 00:00:00", function(data) {
                        $("#boxes").bootgrid("clear")
                                   .bootgrid("append", data);
                    });
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }
    </script>
    <style>
        .reading-grams-header {
            width: 10%;
        }
        .reading-degrees-header {
            width: 10%;
        }
    </style>
</head>

<body>
    <h1 layout:fragment="header">Readings</h1>
    <div layout:fragment="content" class="container">
        <div class="row">
            <div class="col-xs-12">
                <table id="boxes" class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th data-column-id="dateTime" data-formatter="dateTime" width="40%">Time</th>
                        <th data-column-id="localDateTime" width="40%">Local Time</th>
                        <th data-column-id="grams" width="10%" data-type="numeric" data-align="right" data-header-align="right" data-header-css-class="reading-grams-header">Grams</th>
                        <th data-column-id="degreesC" width="10%" data-type="numeric" data-align="right" data-header-align="right"  data-header-css-class="reading-degrees-header">Temperature</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>