<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <script th:src="@{/scripts/sockjs-0.3.4.js}" src="../static/scripts/sockjs-0.3.4.js"></script>
    <script th:src="@{/scripts/stomp.js}" src="../static/scripts/stomp.js"></script>

    <title>Street Posting Boxes</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var map;
        var spbs;
        var markers;

        jQuery(document).ready(function ($) {
            $("#readings").bootgrid({
                navigation: 3,
                formatters: {
                        "dateTime": function(column, row) {
                            return row.dateTime;
                        }
                    }
            });
            connect();
        });

        var stompClient = null;

        function connect() {
            var socket = new SockJS([[@{/stomp}]]);
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/readingsUpdate', function(readings) {
                    retrieveSPBs();
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function retrieveSPBs() {
            $.get("/rest/api/spbs",
                function(data) {
                    spbs = data;
                    $("#spbs")
                        .bootgrid("clear")
                        .bootgrid("append", spbs);
                    if (typeof map == 'undefined') {
                        map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 10,
                            center: spbs[0].latLong
                        });
                    }
                    if (typeof markers == 'undefined') {
                        markers = {};
                        for(var i = 0; i < spbs.length; i++) {
                            var icon;
                            if (spbs[i].totalGrams > 0) {
                                icon = [[@{/images/postBoxRed.gif}]];
                            } else {
                                icon = [[@{/images/postBoxGreen.gif}]];
                            }
                            var marker = new google.maps.Marker({
                                position: spbs[i].latLong,
                                map: map,
                                icon: icon,
                                title: spbs[i].address + " " + spbs[i].totalGrams + " grams"
                            });
                            markers[spbs[i].id] = marker;
                        }
                    } else {
                        for(var i = 0; i < spbs.length; i++) {
                            var icon;
                            if (spbs[i].totalGrams > 0) {
                                icon = [[@{/images/postBoxRed.gif}]];
                            } else {
                                icon = [[@{/images/postBoxGreen.gif}]];
                            }
                            markers[spbs[i].id].setIcon(icon);
                        }
                    }
                });
        }
        /*]]>*/
    </script>
    <style>
        #map {
            height: 600px;
        }
    </style>
</head>
<!-- API Key AIzaSyARB7odEMxJYFxgOx5-eBjmx0iF6CZ8zdk -->
<body>
<h1 layout:fragment="header">Street Posting Boxes</h1>
<div layout:fragment="content">
    <div class="row">
        <div id="map" class="col-xs-2">
            <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARB7odEMxJYFxgOx5-eBjmx0iF6CZ8zdk&amp;callback=retrieveSPBs"></script>
        </div>
        <div id="list" class="col-xs-10">
            <table id="spbs" class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th data-column-id="address">Address</th>
                    <th data-column-id="postCode" data-type="numeric" data-align="right" data-header-align="right">Post Code</th>
                    <th data-column-id="grams" data-type="numeric" data-align="right" data-header-align="right">Grams</th>
                    <th data-column-id="totalGrams" data-type="numeric" data-align="right" data-header-align="right">Total Grams</th>
                    <th data-column-id="degreesC" data-type="numeric" data-align="right" data-header-align="right">Temperature</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
